html {
  font-size: calc(100/750*100vw) !important;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-size: .24rem;
}

html,
body,
.app {
  width: 100%;
  height: 100%;
}

.home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #eee;
}

.home-header {
  width: 100%;
  height: .93rem;
  background: #53AB3A;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-header h1 {
  font-family: ".PingFang-SC-Regular";
  font-size: .34rem;
  color: #FFFFFF;
  text-align: center;
  font-weight: 200;
}

.home-header a {
  height: 100%;
  flex-basis: .437rem;
  margin-left: .4rem;
  text-align: left;
  display: flex;
  align-items: center;
}

.home-header a i.icon {
  color: #FFFFFF;
  border-radius: .08rem;
  font-size: .5rem;
}

.home-section {
  flex: 1;
  overflow: auto;
}

.home-section .home-blnner {
  width: 100%;
  height: 2.24rem !important;
}

.home-section .home-blnner img {
  width: 100%;
  height: 2.24rem !important;
}

.hmoe-nav {
  width: 100%;
  height: 3.67rem;
  background: #FFFFFF;
}

.hmoe-nav > ul {
  width: 100%;
  height: 3.67rem;
  display: flex;
  padding-top: .4rem;
  flex-wrap: wrap;
}

.hmoe-nav > ul > li {
  width: 20%;
  height: auto;
  text-align: center;
}

.hmoe-nav > ul > li > img {
  width: .88rem;
  height: .88rem;
  display: block;
  margin: 0 auto;
  margin-bottom: .14rem;
}

.hmoe-nav > ul > li span {
  font-size: .24rem;
  color: #666666;
  text-align: center;
  margin-bottom: .35rem;
}

.home-titleList {
  border-bottom: solid #ccc thin;
  width: 100%;
  height: .88rem;
  background: #FFFFFF;
}

.home-titleList ul {
  width: 100%;
  height: .88rem;
  display: flex;
  border-bottom: solid #ccc thin;
}

.home-titleList ul > li {
  flex: 1;
  margin: 0 .62rem;
  line-height: .88rem;
  font-size: .28rem;
  color: #333333;
  position: relative;
}

.home-titleList ul > li:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border: 0.05rem solid transparent;
  border-right-color: #353535;
  border-bottom-color: #353535;
  top: .5rem;
  right: 0;
}

.home-goodsList {
  width: 100%;
  height: auto;
}

.dl {
  border-bottom: solid #ccc thin;
  background: #FFFFFF;
  width: 100%;
  height: 2.66rem;
  padding: .32rem .3rem;
  display: flex;
}

.dl dt {
  width: 2.06rem;
  height: 2.06rem;
  margin-right: .3rem;
}

.dl dt img {
  width: 100%;
  height: 100%;
}

.dl dd {
  flex: 1;
}

.dl dd h4 {
  font-size: .32rem;
  color: #333333;
}

.dl dd h4 span {
  display: inline-block;
  width: .95rem;
  height: .3rem;
  background: #FC6120;
  border-radius: .1rem;
  color: #FFFFFF;
  text-align: center;
  font-size: .2rem;
  font-weight: 400;
  line-height: .32rem;
}

.dl dd .tips {
  width: 100%;
  height: auto;
  margin-top: .16rem;
  display: flex;
}

.dl dd .tips span {
  padding: .05rem .06rem;
  border: 1px solid #FC6120;
  font-size: .2rem;
  color: #FC6120;
  margin-right: .14rem;
}

.evaluation {
  width: 100%;
  height: .56rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.evaluation p {
  font-size: .22rem;
  color: #999999;
  line-height: .22rem;
}

.evaluation p b {
  font-size: .22rem;
  color: #FC6120;
  line-height: .22rem;
  margin-right: .12rem;
}

.evaluation .mn {
  font-size: .26rem;
  color: #FC6120;
  line-height: .19rem;
}

.evaluation .mn b {
  font-size: .46rem;
  color: #FC6120;
  line-height: .32rem;
  margin: 0 0.04rem;
}

.address {
  width: 100%;
  height: auto;
  margin: 0;
  margin-top: .3rem;
  display: flex;
  justify-content: space-between;
}

.address span {
  font-size: .22rem;
  color: #999999;
}

.home-bottomTip {
  text-align: center;
  margin: .32rem 0;
  font-size: .22rem;
  color: #999999;
  line-height: .22rem;
}

.pt20 {
  margin-top: .2rem;
}

.details-benner {
  width: 100%;
  height: 3.8rem;
  position: relative;
}

.swiper-container {
  position: relative;
  height: 3.8rem;
  width: 100%;
}

.swiper-container img {
  width: 100%;
  height: 3.8rem;
}

.imgname {
  position: absolute;
  bottom: .13rem;
  width: 100%;
  display: flex;
  padding: 0 .32rem;
  justify-content: space-between;
  align-items: center;
}

.imgname b {
  color: #FFFFFF;
  font-size: .38rem;
}

.imgname span {
  font-size: .28rem;
  color: #FFFFFF;
}

.imgname span img {
  width: .31rem;
  height: .25rem;
}

.details-jj {
  width: 100%;
  height: 1.2rem;
  border-bottom: solid #ccc thin;
  padding: .24rem 0;
  display: flex;
  background: #FFFFFF;
}

.item-details,
.star {
  flex: 1;
  padding: 0 .32rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.item-details a,
.star a {
  width: .24rem;
}

.item-details a img,
.star a img {
  width: 70%;
  height: auto;
}

.itemjianjie,
.staradd {
  display: flex;
  flex-direction: column;
}

.itemjianjie > b,
.staradd > b {
  font-size: .30rem;
  color: #333333;
  text-align: left;
  line-height: .30rem;
}

.itemjianjie span,
.staradd span {
  font-size: .26rem;
  color: #999999;
  text-align: left;
  line-height: .26rem;
  margin-top: .16rem;
}

.itemjianjie span > b,
.staradd span > b {
  color: #FC6120;
}

.cube-rate-item,
.cube-rate-item_active {
  width: .228rem !important;
  height: .217rem;
}

.cube-rate-item,
.cube-rate-item-def {
  background-size: contain !important;
}

.attractionsAddress {
  background: #fff;
  width: 100%;
  height: 1rem;
  font-size: .3rem;
  color: #333333;
  padding-left: .4rem;
  padding-right: .35rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.attractionsAddress img {
  width: .16rem;
  height: auto;
  justify-self: flex-end;
}

.attractionsAddress a {
  display: flex;
  align-items: center;
}

.attractionsAddress a img {
  width: .23rem;
  height: auto;
  margin-right: .3rem;
}

.detailsTitle {
  margin-top: .2rem;
  width: 100%;
  height: 1rem;
  font-size: .32rem;
  padding-left: .32rem;
  padding-top: .33rem;
  padding-bottom: .33rem;
  background: #FFFFFF;
}

.detailsTitle h3 {
  border-left: .08rem solid #53AB3A;
  padding-left: .24rem;
  font-size: .32rem;
}

.itemorder {
  border-bottom: solid #ccc thin;
  width: 100%;
  height: 2.3rem;
  padding: .3rem .34rem;
  background: #FFFFFF;
  display: flex;
  justify-content: space-between;
}

.item-left h4 {
  font-size: .32rem;
  color: #333333;
}

.item-left .item-time {
  margin: .18rem 0;
  font-size: .22rem;
  color: #FC6120;
}

.item-left .item-tips {
  display: flex;
}

.item-left .item-tips span {
  border: solid #FC6120 thin;
  text-align: center;
  line-height: .34rem;
  padding: .02rem .03rem;
  height: .34rem;
  font-size: .20rem;
  color: #FC6120;
  margin-right: .14rem;
}

.item-left .item-instructions {
  font-size: .22rem;
  color: #999999;
  margin-top: .28rem;
}

.item-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.item-right .item-price {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: .26rem;
  color: #FC6120;
}

.item-right .item-price b {
  font-size: .46rem;
  color: #FC6120;
}

.item-right .item-original-price {
  margin-top: .14rem;
  font-size: .22rem;
  justify-content: flex-end;
  color: #999999;
}

.item-right button {
  border: 0;
  outline: none;
  margin-top: .2rem;
  width: 1.2rem;
  height: .5rem;
  background-image: linear-gradient(-90deg, #6FC856 0%, #54AD3B 100%);
  border-radius: 100px;
  font-size: .26rem;
  color: #FFFFFF;
}

.view-all-list {
  width: 100%;
  height: .88rem;
  background: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .22rem;
  color: #999999;
}

.view-all-list img {
  width: .2rem;
  height: auto;
  margin-left: .12rem;
}

.reviewTip {
  width: 100%;
  height: 1.89rem;
  background: #FFFFFF;
  padding: .36rem .6rem .41rem .32rem;
}

.reviewTip .scoreAll {
  font-size: .30rem;
  color: #999999;
  letter-spacing: 0;
  margin-bottom: .32rem;
}

.classLis {
  display: flex;
  justify-content: space-between;
}

.classLis li {
  width: 1.56rem;
  height: .52rem;
  background: #F5F5F5;
  border-radius: .02rem;
  text-align: center;
  line-height: .52rem;
  font-size: .26rem;
  color: #999999;
  letter-spacing: 0;
  text-align: center;
}

.colors {
  color: #53AB3A !important;
}

.mackSearch {
  position: fixed;
  top: .92rem;
  left: 0;
  z-index: 90;
  width: 100%;
  height: 100%;
  z-index: 88;
  background: rgba(0, 0, 0, 0.5);
}

.options {
  position: fixed;
  left: 0;
  width: 100vw;
  min-height: 6rem;
  background: #FFFFFF;
  height: auto;
  padding-left: .32rem;
  overflow: auto;
}

.options li {
  padding: .2rem .32rem .2rem 0;
  border-bottom: solid #ccc thin;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.options li span {
  font-size: .28rem;
  color: #333333;
}

.options li img {
  width: .21rem;
  height: .21rem;
}

.optionsButton {
  position: fixed;
  left: 0;
  width: 100vw;
  background: #FFFFFF;
  height: auto;
}

.optionsButton > p {
  padding-left: .32rem;
  height: auto;
  color: #999999;
}

.optionsButton > div {
  padding-left: .32rem;
  width: 100%;
  height: auto;
  display: flex;
}

.optionsButton > div p {
  width: 1.67rem;
  height: .68rem;
  border: thin solid #6FC856;
  margin-right: .2rem;
  color: #6FC856;
  display: flex;
  justify-content: center;
  align-items: center;
}

.optionsButton > div .pColor {
  background: #6FC856;
  color: #FFFFFF;
}

.optionsButton .button {
  margin-top: .45rem;
  width: 100%;
  height: .92rem;
  display: flex;
  padding: 0;
}

.optionsButton .button button {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #53AB3A;
  background: #DDEFD8;
  border: 0;
}

.optionsButton .button .but-color {
  background: #53AB3A;
  color: #FFFFFF;
}
